@model EFDataApp.Models.Operation
@{
    ViewBag.Title = "Удаление пользователя";
}
<h2>Удаление строки из базы данных</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Выражение</dt>
        <dd>
            @Html.DisplayFor(model => model.Expression)
        </dd>

        <dt>Ответ</dt>
        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>

    <div>
        <span class="alert-info">Вы уверены, что хотите удалить строку операции?</span>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="badge-danger" value="Удалить" />
            </div>
        </form>
    </div>
</div>
<a href="https://localhost:44301/Home/Info">Назад</a>