@model EFDataApp.Models.Operation
@{
    ViewBag.Title = "Редактирование пользователя";
}
<h2>Редактирование строки</h2>
<form asp-action="edit" asp-controller="Home" asp-route-id="@Model.ID">
    <div class="form-group">
        <label asp-for="Expression" class="control-label"> Выражение</label>
        <input type="text" required asp-for="Expression" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Result" class="control-label">Ответ</label>
        <input type="number" required asp-for="Result" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Дата</label>
        <input type="datetime" required asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IP" class="control-label">IP</label>
        <input type="url" required asp-for="IP" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Browser" class="control-label">Браузер</label>
        <input type="text" required asp-for="Browser" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Error" class="control-label">Ошибка</label>
        <input type="text" asp-for="Error" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="border-dark" />
    </div>
</form>
<a href="https://localhost:44301/Home/Info">Назад</a>